<style type="text/css">
  .back-top {
    font-weight: bold;
    display: inline-block;
    width: 80px;
    height: 30px;
    border: #606060;
    background: #60606060;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    padding-top: 9px;
    color: #404040;
  }

  a:hover {
    color: #000000;
  }
</style>

<div style="overflow: hidden;position: fixed;right: 5px;bottom: 25px;z-index: 10;">
  <div style="overflow: hidden;">
    <div style="padding-top:20px;padding-right:50px;padding-bottom:50px">
      <a href="#" style="float: right;" class="back-top">Top</a>
    </div>
  </div>
</div>