<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    <script type="text/javascript">
      function HoverPic(divId, aId, imgId) {
        $(function () {
          $(document).mousemove(function (en) {
            var xPos = parseInt(en.originalEvent.x - 64) + "px";
            var yPos = parseInt(en.originalEvent.y - 138) + "px";
            $(divId).css("left", xPos);
            $(divId).css("top", yPos);
          });
          $(imgId).css("width", 128);
          $(imgId).css("height", 128);
          $(aId).hover(
            function () {
              $(divId).fadeIn(300);
            },
            function () {
              $(divId).fadeOut(300);
            }
          );
        })
      }
      HoverPic("#wechat", "#wechatlink", "#wechatimg");
      HoverPic("#zhihu", "#zhihulink", "#zhihuimg");
    </script>


    {% if site.social.wechat %}
    <!-- Wechat -->
    <li class="navigation__item">
      <div id="wechat" style="display:none; position: fixed;"><img id="wechatimg" src="/assets/images/wechat.png"/></div>
      <a id="wechatlink" href="/assets/images/wechat.png" title="我的微信公众号" target="_blank">
        <i class='social fa fa-wechat'></i>
        <span class="label">Wechat</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.weibo %}
    <!-- Weibo -->
    <li class="navigation__item">
      <a href="http://weibo.com/{{site.social.weibo}}" title="@{{site.social.weibo}} 的微博" target="_blank">
        <i class='social fa fa-weibo'></i>
        <span class="label">Weibo</span>
      </a>
    </li>
    {% endif %}


    {% if site.social.github %}
    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
        <i class='social fa fa-github'></i>
        <span class="label">Github</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.zhihu %}
    <!-- Zhihu Column -->
    <li class="navigation__item">
      <div id="zhihu" style="display:none; position: fixed;"><img id="zhihuimg" src="/assets/images/zhihu.png"/></div>
      <a id="zhihulink" href="https://www.zhihu.com/column/{{site.social.zhihu}}" title="我的专栏" target="_blank">
        <i class="social fab fa-zhihu"></i>
        <span class="label">Zhihu Column</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.twitter %}
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
        <i class='social fa fa-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.gplus %}
    <!-- Google Plus -->
    <li class="navigation__item">
      <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
        <i class='social fa fa-google-plus-square'></i>
        <span class="label">Google Plus</span>
      </a>
    </li>
    {% endif %}

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/feed.xml" rel="author" title="RSS" target="_blank">
        <i class='social fa fa-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>

    {% if site.social.mail %}
    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:{{site.social.mail}}" title="Contact me">
        <i class='social fa fa-envelope'></i>
        <span class="label">Email</span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>