.scroll-nav__list, .scroll-nav__sub-list {
  margin: 0;
  padding-left: 1.4em;
  list-style-type: none;
  line-height: 20px;
}
.scroll-nav__item, .scroll-nav__sub-item {
  margin-bottom: 5px;
  list-style-type: none;
}
.scroll-nav__item--active > a, .scroll-nav__sub-item--active > a{
  // padding: 5px;
  font-weight: bold;
  position: relative;
  color: #BF1827;
  // background: #a2a9b1;
  text-decoration: none;
  // transition: 0.5s;
}
.scroll-nav__link {
  color: #000000;
  text-decoration: none;
  //display: block;
  //margin: 0 auto;
  //padding-left: 42px;
	letter-spacing:1px;
  font-size: 1em;
	text-decoration:none;
  &:hover{
    color:#BF1827;
    // background: #a2a9b1;
  }
}

.scroll-nav__sub-link {
  color: #000000;
  text-decoration: none;
  //display: block;
  //margin: 0 auto;
  //padding-left: 42px;
	letter-spacing:1px;
  font-size: 0.9em;
	text-decoration:none;
  &:hover{
    color:#BF1827;
    // background: #a2a9b1;
  }
}

.scroll-nav {
  background-color: #F9F9F9;
  // border: 1px solid #a2a9b1;
  position: fixed;

  @media screen and (min-width: 800px) {
    float: right;
    padding: 15px 10px;
    width: 100px;
    // top: 60px;
  }

  @media screen and (min-width: 800px) {
    width: 300px;
  }

  top: 0;
	bottom: 0;
	right: -260px;
	width: 300px;
	overflow-x:hidden;
	overflow-y:auto;
}